/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

main.container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

div.appbar{
  display:flex;
  flex-direction: row;
  background-color: #f7d736;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); 
  width: 100%;
}

img.logo{
  height: 40px;
  width: 70px;
  margin: 10px;
}

form.form-card{
  display:flex;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
  margin-top: 30px;
  padding: 8px;
  border-radius: 4px;
  width: 50%;
  max-width: 500px;
  min-width: 240px;
}

input.form-card-title{
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
}

textarea.autoresize{
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  resize: none;
  margin-top: 10px;
}

button.btn{
  border:none;
  background-color: #f7d736;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.30), 0 2px 2px rgba(0,0,0,0.22);
  height: 30px;
  font-family: 'Roboto', sans-serif;
}

div.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:20px;
  justify-content: space-around;
}

div.card{
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 30px;
  padding: 8px;
  width: 210px;
  min-height: 130px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.30), 0 8px 10px rgba(0,0,0,0.22);
  rotate: 'card-rotation';
}

h3.card-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color:#2c2c2c;
}

div.card-content{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: #4c4c4c;
  margin-top:10px;
  flex-wrap: wrap;
  height: 100%;
}

/* Estilos para rotação */
.card-rotation-1 {
  transform: rotate(5deg);
}

.card-rotation-2 {
  transform: rotate(4deg);
}

.card-rotation-3 {
  transform: rotate(3deg);
}

.card-rotation-4 {
  transform: rotate(2deg);
}

.card-rotation-5 {
  transform: rotate(1deg);
}

.card-rotation-6 {
  transform: rotate(-1deg);
}

.card-rotation-7 {
  transform: rotate(-2deg);
}

.card-rotation-8 {
  transform: rotate(-3deg);
}

.card-rotation-9 {
  transform: rotate(-4deg);
}

.card-rotation-10 {
  transform: rotate(-5deg);
}

.card-rotation-11 {
  transform: rotate(6deg);
}


/* ... Defina mais classes de rotação conforme necessário ... */


/* Estilos para cores */
.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.bt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttons {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: transparent;
}

.delete {
  border: None;
  background-color: transparent;
}

.edit {
  border: None;
  background-color: transparent;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
